.Navigation-links li{
display: inline-block;
}
.dropdown-menu{
    display:none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
}
.Navigation-links,
.dropdown-menu{
    list-style: none;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav{
    background-color: burlywood;
    padding: 15px;
}
a:hover{
    background-color: beige;
}
a:focus-visible{
    outline: 3px solid blue;
}
.logo{
    display: inline-block;
}
.Navigation-links{
    display: inline-block;
}
.CTA-Button{
    display: inline-block;
}
.Navigation-links{
    margin-left: 100px;
}
.CTA-Button{
    margin-left: 100px;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: antiquewhite;
    padding: 10px;
    margin-top: 5px;
}
body{
    padding-top: 80px;
}