*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width:600px){
    nav{
        flex-direction: column;
    }
    .Navigation-links{
        flex-direction: column;
        align-items: center;
    }
}
.Navigation-links li{
display: inline-block;
}
.dropdown-menu{
    display:none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
}
.Navigation-links,
.dropdown-menu{
    list-style: none;
}
.Navigation-links{
    display: flex;
    gap: 20px;
    flex-grow: 1; 
    /* links can use extra space */
    flex-shrink: 1;
    /* limks can shrink or reduce screen */
    flex-basis:auto;
    /* start from content size */
    justify-content: center;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: burlywood;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a:hover{
    background-color: beige;
}
a:focus-visible{
    outline: 3px solid blue;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: antiquewhite;
    padding: 10px;
    margin-top: 5px;
}
body{
    padding-top: 80px;
}